<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start"  (click)="volver()" >
      <ion-back-button defaultHref="Movimiento"></ion-back-button>
    </ion-buttons>
    <ion-title>valores de la semana {{valor1.semana}}</ion-title>  <!-- Dialog Modal-->
  </ion-toolbar>
</ion-header>

<ion-content>
  <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Dia</th>
          <th scope="col">Valor</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let item of valor1.dias">
          <tr>
            <td>
              <h5>{{item.nombre}}</h5>
            </td>
            <td>
              <h5>{{item.valor}}</h5>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
</ion-content>
