ion-content{
    display: block;
    text-align: center;
}
#gauge{
    margin:auto;
    height: 300px;
     width: 300px;
     display: flex;
    justify-content: center;
     align-items: center;
     border: 1px solid blue;
    }