ion-content{
    display: block;
    text-align: center;
}
#logo{
    
    background-color: white;
    margin: auto;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 50%;
    img{
        width: 200px;
        height: 200px;
        margin:auto;
    }

}